.App {
  text-align: center;
  height: 100vh;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.swipe {
  position: absolute;
}

.cardContainer {
  position: relative;
}

#footer {
  position: absolute;
  top:94vh;
  height: 6vh;
}

.btnLanding {
  position: absolute;
  top:7vh;
  left: 40vw;
}
