html {
  /* font-family: 'Sofia Sans Condensed', sans-serif; */
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

#root {
  width: 100%;
}

.swipe {
  position: absolute;
}

.cardContainer {
  position: relative;
}

body {
  width: 100%;
  margin: 0;
  background-image: url(../public/img/6267773749.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header.css-hip9hq-MuiPaper-root-MuiAppBar-root,
.AppBarHeader {
  margin-top: 10px;
  border-radius: 10px;
  padding: 20px 0;
  background-color: #ffffff;
  box-shadow: none;
}

.css-1p32o3w-MuiPaper-root-MuiCard-root {
  width: 53vw !important;
}

.css-3jphol-MuiCardContent-root:last-child {
  padding-bottom: 0 !important;
}

@media (min-width: 1200px) {
  .css-1i9grp-MuiContainer-root {
    max-width: 80% !important;
  }
}
@media (max-width: 1200px) {
  #clouds {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-1wryamr-MuiPaper-root-MuiCard-root {
    margin-top: 0em
  }
  header .css-1i9grp-MuiContainer-root {
    display: flex;
    justify-content: space-between;
  }
  #carouselFont,
  #optLogo {
    width: 150px;
  }
  .optImg {
    width: 150px !important;
  }
}

.MuiBox-root.css-dvxtzn {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.carouselDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.css-1clzr65-MuiButtonBase-root-MuiButton-root,
.MuiButton-contained {
  text-align: center;
  background-color: #02611d !important;
  color: rgb(255, 255, 255);
}

.scrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollBar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault.css-we5ke1-MuiAvatar-root {
  background-color: #02611d;
}

.whyCard, .css-1v5z4dq-MuiPaper-root-MuiCard-root {
  border-radius: 10px;
  padding-bottom: 0 !important;
  width: 15em;
  height: 100%;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-2iyxf1-MuiPaper-root-MuiCard-root{
  box-shadow: none;
}

/* .MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-p2e9to-MuiPaper-root-MuiCard-root {
  margin-top: '10em' 
} */

.css-25x0kt{
  background-color: #ffffff;
}

.MuiBox-root .textDiv.css-pgvgg1 {
  border-radius: 10px;
  padding: 50px;
  margin-top: 7vh;
  width: 80%;
  background-color: #ffffff;
  font-size: 2em;
  box-shadow: none;
}

.MuiBox-root.css-dvxtzn {
  width: 100%;
}
.profileStat{
  padding: 0.5em 1em;
  background-color: #ffffff;
  border-radius: 7px;
  font-size: larger;
  margin-bottom: 3em;
}
