html {
  font-family: 'Sofia Sans Condensed', sans-serif;
  margin: 0px;
  width: 100%;
}
.swipe {
  position: absolute;
}

.cardContainer {
  position: relative;
}

body {
  width: 100%;
  margin: 0.5em;
  background-image: url(../public/img/6267773749.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header.css-hip9hq-MuiPaper-root-MuiAppBar-root, .AppBarHeader   {
  margin-top: 10px;
  border-radius: 10px;
  padding-top: 20px ;
  background-color: #ffffff;
  box-shadow: none;
  /* margin: 1em; */
}


.css-1p32o3w-MuiPaper-root-MuiCard-root {
  width: 53vw !important;
}

@media (min-width: 1200px){
  .css-1i9grp-MuiContainer-root {
  max-width: 80% !important;
}}
@media (max-width: 1200px){
  #clouds {
    display: none !important;
  }
}

@media (max-width: 600px) {
  header .css-1i9grp-MuiContainer-root {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
  }
  #carouselFont,
  #optLogo {
    width: 150px;
  }
  .optImg {
    width: 150px !important;
  }
}

.MuiBox-root css-0 {
  display: flex;
}

#root {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.css-1clzr65-MuiButtonBase-root-MuiButton-root,
.MuiButton-contained {
  background-color: #02611d !important;
  color: bisque;
}

.whyCard, .css-1v5z4dq-MuiPaper-root-MuiCard-root {
  border-radius: 10px;
  width: 20em;
  height: 10em;
}

.MuiBox-root .textDiv.css-pgvgg1{
  border-radius: 10px;
  padding: 50px;
  margin-top: 7vh;
  width: 48vw;
  background-color: #ffffff;
  font-size: 2em;
  box-shadow: none;
}

.MuiBox-root.css-dvxtzn {
  width: 100%;
}